<style type="text/css" media="screen">

table{
border-collapse:collapse;
border:1px solid black;
}

table td, th{
border:1px solid black;
padding: 5px;
text-align:center;
}
</style>
<%= form_for @receipt do |f| %>
<p>
  <strong>水费单价:</strong>
  <%= f.fields_for :water_rate do |ff| %>
  <%= ff.text_field :rate%>
  <% end %>
</p>

<p>
  <strong>电费单价:</strong>
  <%= f.fields_for :electricity_rate do |ff| %>
  <%= ff.text_field :rate%>
  <% end %>
</p>
<p>
  <strong>电动车电费单价:</strong>
  <%= f.fields_for :moto_electricity_rate do |ff| %>
  <%= ff.text_field :rate%>
  <% end %>
</p>
<table>
  <tr>
    <th>房号</th>
    <th>姓名</th>
    <th>房租</th>
    <th>上月水吨数</th>
    <th>本月水吨数</th>
    <th>上月电度数</th>
    <th>本月电度数</th>
    <th>上月电动车电度数</th>
    <th>本月电动车电度数</th>
    <th>卫生费</th>
    <th>网费</th>
    <th></th>
  </tr>
  <% @receipt.records.joins(:room).order('rooms.id').each do |record| %>
  <%= f.fields_for :records, record do |record_fields| %>
    <tr>
      <td><%= record.room.number %></td>
      <td><%= @room_data[record.room.number][:admin_tenant] ? @room_data[record.room.number][:admin_tenant].name : '-' %></td>
      <td><%= @room_data[record.room.number][:rent].to_f %></td>
      <td><%= record_fields.text_field :pre_water_count %></td>
      <td><%= record_fields.text_field :current_water_count %></td>
      <td><%= record_fields.text_field :pre_ele_count %></td>
      <td><%= record_fields.text_field :current_ele_count %></td>
      <td><%= record_fields.text_field :pre_moto_ele_count %></td>
      <td><%= record_fields.text_field :current_moto_ele_count %></td>
      <td><%= record_fields.text_field :cleaning_fee %></td>
      <td><%= record_fields.text_field :internet_fee %></td>
      <td><%= link_to @room_data[record.room.number][:tenant_path_name], @room_data[record.room.number][:tenant_path] %></td>
    </tr>
  <% end %>
  <% end %>
  </table>
  <p>
    <%= f.submit '保存' %>
  </p>
<% end %>
