<% @receipt.records.joins(:room).order('rooms.id').each do |record| %>
<center><h2>收&nbsp;&nbsp;据</h2></center>
&emsp;&emsp;今收到<%= record.room.admin_tenant ? record.room.admin_tenant.name : '-' %> (电话: <%= record.room.admin_tenant ? record.room.admin_tenant.phone : '-' %>) 住<%= record.room.number%>号房，交来<%= @receipt.date.year%>年<%= @receipt.date.month%>月1日至<%= @receipt.date.year%>年<%= @receipt.date.month%>月<%= @receipt.date.end_of_month.day %>日，房租<%= record.rent_fee%>元。
上月电表度数: <%= record.pre_ele_count%>, 本月电表度数: <%= record.current_ele_count%>, 实用度数: <%= record.used_ele_count%>, 实收电费: <%= record.ele_fee%> 元。上月水表吨水: <%= record.pre_water_count %>, 本月水表吨数: <%= record.current_water_count%>, 实用吨数: <%= record.used_water_count%>, 实收水费: <%= record.water_fee%> 元。
上月电动车电表度数: <%= record.pre_moto_ele_count%>, 本月电动车电表度数: <%= record.current_moto_ele_count%>, 实用度数: <%= record.used_moto_ele_count%>, 电动车电费 <%= record.moto_ele_fee %>  元。网费: <%= record.internet_fee %> 元, 卫生费: 10 元,
共收人民币 <%= record.total_fee %> 元.<br>
提示: 每月必需5号前交租，否则停水停电。退房需提前一个月告知，否则押金不退。合约未满提前退房，押金不退。<br>
<%= @print_year %>年<%= record.date.month %>月1日<br>
备注:<u>微信号：h13902504788</u><br><br>
<% end %>
