<style type="text/css" media="screen">

table{
border-collapse:collapse;
border:1px solid black;
}

table td, th{
border:1px solid black;
padding: 5px;
text-align:center;
}
</style>
<h1><%= "#{@receipt.date.year}年#{@receipt.date.month}月"%>收据</h1>
<p>
  <strong>水费单价:</strong>
  <%= @receipt.water_rate.rate.to_f%>
</p>

<p>
  <strong>电费单价:</strong>
  <%= @receipt.electricity_rate.rate.to_f%>
</p>
<p>
  <strong>电动车电费单价:</strong>
  <%= @receipt.moto_electricity_rate.rate.to_f%>
</p>
<table>
  <tr>
    <th>房号</th>
    <th>住客姓名</th>
    <th>房租</th>
    <th>上月水吨数</th>
    <th>本月水吨数</th>
    <th>使用水吨数</th>
    <th>上月电度数</th>
    <th>本月电度数</th>
    <th>使用电度数</th>
    <th>上月电动车电度数</th>
    <th>本月电动车电度数</th>
    <th>使用电动车电度数</th>
    <th>卫生费</th>
    <th>网费</th>
    <th>总费用</th>
  </tr>
  <% @receipt.records.joins(:room).order('rooms.id').each do |record|%>
  <tr>
    <td><%= record.room.number %></td>
    <td><%= record.room.admin_tenant ? record.room.admin_tenant.name : '-' %></td>
    <td><%= record.room.rent.to_f %></td>
    <td><%= record.pre_water_count.to_f %></td>
    <td><%= record.current_water_count.to_f %></td>
    <td><%= record.used_water_count.to_f%></td>
    <td><%= record.pre_ele_count.to_f %></td>
    <td><%= record.current_ele_count.to_f %></td>
    <td><%= record.used_ele_count.to_f%></td>
    <td><%= record.pre_moto_ele_count.to_f %></td>
    <td><%= record.current_moto_ele_count.to_f %></td>
    <td><%= record.used_moto_ele_count.to_f%></td>
    <td><%= record.cleaning_fee.to_f%></td>
    <td><%= record.internet_fee.to_f%></td>
    <td><%= record.total_fee.to_f%></td>
  </tr>
  <% end %>
</table>
<br><br>
<%= link_to '修改', edit_receipt_path(@receipt) %>
<%= link_to '打印', {controller: 'receipts', action: 'print', id: @receipt}, target: '_blank'%>
<br><br>
<%= link_to '返回', root_path %>
